body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: linear-gradient(to bottom, black, grey);
  color: white;
}

.homepage-head img {
  width: 100%;
}

div.homepage-head {
  padding-top: 100px;
  display: flex;
  flex-direction: row;
}

.homepage-head div {
  color: white;
  text-align: left;
  width: 50%;
}

.homepage-head div h1 {
  font-size: 70px;
  text-align: center;
}

#back-button {
  font-size: 50px;
  color: black;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 10px;
  left: 10px;
}

#back-button:hover {
  cursor: pointer;
}

.profile {
  width: 50%;
  height: auto;
}

.profile img {
  width: 100%;
  height: auto;
}

h2 {
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

h2 em {
  font-style: normal;
  color: red;
}

div.nav {
  top: 0;
  width: 100%;
  background-color: black;
  position: fixed;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-right: 10px;
}

li {
  list-style: none;
  padding: 10px;
  text-align: center;
}

ul li button {
  text-align: center;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul li button:hover {
  cursor: pointer;
}

.button-list {
  width: 35px;
  height: 25px;
  padding: 20px;
}

h1 {
  text-align: center;
}

.pic-grid {
  display: flex;
  flex-direction: column;
}

picture {
  padding: 10px;
}

.pic-grid img {
  width: 100%;
  height: auto;
}

.grid-row {
  display: flex;
  flex-direction: row;
}

.art-side {
  width: 100%;
}

.hidden {
  display: none !important;
}

.logo-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.logo-grid img {
  width: 280px;
  height: auto;
}

.design-heading {
  display: block;
  background-color: white;
  color: black;
  margin: 10px;
  padding-left: 10px;
}

.two-column {
  display: flex;
  flex-direction: row;
}

.two-column div {
  width: 50%;
  padding: 10px;
  text-align: center;
}

.website-box {
  margin: 10px;
  border: solid;
  border-radius: 10px;
  padding: 10px;
  color: black;
}

.website-box img {
  display: block;
  width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

video {
  margin-top: 30px;
  width: 90%;
  height: auto;
  border-radius: 20px;
}

em {
  font-variant: small-caps;
  font-style: normal;
  font-weight: bold;
}

p {
  margin-bottom: 5px;
}

div.design-process {
  text-align: start;
}

.resume {
  margin: 0px;
  padding: 0px;
}