body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: linear-gradient(to bottom, black, grey);
  color: white;
}

.homepage-head img {
  width: 100%;
}

header {
  display: flex;
  flex-direction: row;
}

header div {
  color: white;
  text-align: left;
  width: 50%;
}

header div h1 {
  font-size: 70px;
  text-align: center;
}

header #scroll-up {
  font-size: 50px;
  color: white;
  background-color: transparent;
  border: none;
  position: fixed;
  bottom: 60px;
  right: 30px;
}

#scroll-up:hover {
  cursor: pointer;
}

.profile {
  width: 50%;
  height: auto;
}

.profile img {
  width: 100%;
  height: auto;
}

h2 {
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

h2 em {
  font-style: normal;
  color: red;
}

#submit-button,
#contact-me {
  border: solid white;
  background-color: transparent;
  color: white;
  font-size: 40px;
  width: 300px;
}

#submit-button:hover,
#contact-me:hover {
  cursor: pointer;
  background-color: grey;
}

.contact {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.contact button {
  margin-right: auto;
  margin-left: auto;
}

form input {
  margin-bottom: 10px;
  margin-top: 10px;
  height: 20px;
}

textarea {
  margin-bottom: 10px;
  margin-top: 10px;
  height: 50px;
  width: 500px;
}

ul {
  display: flex;
  flex-direction: row;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
}

li {
  list-style: none;
  padding: 0px;
  width: 50%;
  text-align: center;
}

ul li button {
  text-align: center;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 20px;
}

ul li button:hover {
  cursor: pointer;
}

.button-list {
  width: 35px;
  height: 25px;
  padding: 20px;
}

h1 {
  text-align: center;
}

.pic-grid {
  display: flex;
  flex-direction: column;
}

picture {
  padding: 10px;
}

.pic-grid img {
  width: 100%;
  height: auto;
}

.grid-row {
  display: flex;
  flex-direction: row;
}

.art-side {
  width: 100%;
}

.hidden {
  display: none !important;
}

.logo-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.logo-grid img {
  width: 280px;
  height: auto;
}

.design-heading {
  display: block;
  background-color: white;
  color: black;
  margin: 10px;
  padding-left: 10px;
}

.two-column {
  display: flex;
  flex-direction: row;
}

.two-column div {
  width: 50%;
  padding: 10px;
  text-align: center;
}

.website-box {
  margin: 10px;
  border: solid;
  border-radius: 10px;
  padding: 10px;
  color: black;
}

.website-box img {
  display: block;
  width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

video {
  margin-top: 30px;
  width: 90%;
  height: auto;
  border-radius: 20px;
}

em {
  font-variant: small-caps;
  font-style: normal;
  font-weight: bold;
}

p {
  margin-bottom: 5px;
}

div.design-process {
  text-align: start;
}